# SQL Kernel (Demonstration)
This is a demonstration of a SQL kernel for Jupyter built with the [Callysto](https://github.com/ajmazurie/Callysto) project.

Upon creation this kernel creates an in-memory [SQLite](https://www.sqlite.org/) database which can then be manipulated by providing SQL commands. Results, if any, are displayed as tables. A summary of how many rows were affected and/or returned by the last SQL command is also displayed:

In [13]:
-- drop the table 'stocks' if it already exists
DROP TABLE IF EXISTS stocks;

-- then create a new one
CREATE TABLE stocks (
    transaction_date TEXT,
    transaction_type TEXT,
    symbol TEXT,
    qty REAL,
    price REAL)

statement 1 of 2: no rows returned
statement 2 of 2: no rows returned

In [14]:
-- insert some example data into this table
INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14);
INSERT INTO stocks VALUES ('2006-01-06', 'SELL', 'RHAT', 100, 30.27);

statement 1 of 2: 1 row affected; no rows returned
statement 2 of 2: 1 row affected; no rows returned

In [15]:
-- show the whole content of the table
SELECT * FROM stocks;

transaction_date,transaction_type,symbol,qty,price
2006-01-05,BUY,RHAT,100.0,35.14
2006-01-06,SELL,RHAT,100.0,30.27

2 rows returned

In [16]:
-- show only when stocks were sold
SELECT transaction_date FROM stocks WHERE (transaction_type == "SELL")

transaction_date
2006-01-06

1 row returned

In [17]:
-- finally, remove this table (not necessary since the whole
-- database is in memory, but a good practice nevertheless)
DROP TABLE stocks;

no rows returned